.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  color: #000;
  font-family: ComfortaaR, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.online__text {
  margin-left: 6px;
  color: #000;
  font-family: ComfortaaL, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
}

.call {
  display: block;
  margin-bottom: 10px;
  font-family: ComfortaaB, sans-serif;
  text-align: center;
}

.mail {
  color: #57b6fb;
  font-family: RobotoConL, sans-serif;
}

.number {
  color: #57b6fb;
  font-family: RobotoConL, sans-serif;
}

@font-face {
  font-family: AmaticR;
  src: url(../../fonts/Amatic_SC/AmaticSC-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: AmaticB;
  src: url(../../fonts/Amatic_SC/AmaticSC-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: ComfortaaL;
  src: url(../../fonts/Comfortaa/static/Comfortaa-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: ComfortaaR;
  src: url(../../fonts/Comfortaa/static/Comfortaa-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: ComfortaaB;
  src: url(../../fonts/Comfortaa/static/Comfortaa-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: PoiretOne;
  src: url(../../fonts/Poiret_One/PoiretOne-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: RobotoConL;
  src: url(../../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: RobotoConR;
  src: url(../../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: RobotoConB;
  src: url(../../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: ZillaL;
  src: url(../../fonts/Zilla_Slab/ZillaSlab-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: ZillaB;
  src: url(../../fonts/Zilla_Slab/ZillaSlab-Medium.ttf);
  font-display: swap;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  width: 1200px;
  margin: 0 auto 0;
  padding: 0 20px;
}

.title {
  font-family: ComfortaaR, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.11;
}

.text {
  display: block;
  width: 430px;
  margin-top: 25px;
  font-family: Comfortaal, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.11;
}

.main {
  position: relative;
  padding-top: 190px;
  padding-bottom: 900px;
}

.main__item {
  width: 640px;
  border-radius: 15px;
}
.main__item.pink {
  background-color: #ebafae;
}
.main__item.brown {
  background-color: #ae7676;
}
.main__item.yellow {
  background-color: #ebccac;
}
.main__item.blue {
  background-color: #adaceb;
}
.main__item.cssTutorial {
  position: absolute;
  top: 370px;
  right: 0;
}
.main__item.raspberries {
  width: 500px;
  position: absolute;
  top: 530px;
  left: 0;
}
.main__item.webStudio {
  width: 500px;
  position: absolute;
  top: 690px;
  right: 0;
}
.main__item.jsTutorial {
  position: absolute;
  top: 850px;
  left: 0;
}

.main_itemLink {
  display: block;
  position: relative;
  width: 640px;
  height: 300px;
}
.main_itemLink.small {
  width: 500px;
}

.case-text {
  position: absolute;
  top: 25px;
  left: 25px;
  font-family: ComfortaaL, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  color: #ffffff;
}

.case-circle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.case-title {
  position: absolute;
  top: 95px;
  left: 25px;
  font-family: ComfortaaL, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  color: #000;
}

.case-arrow {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.case-view {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-family: ComfortaaL, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
}

.footer {
  background-color: rgb(98, 98, 98);
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */